version: "2"

options:
  verbose: true
syncs:
  #IMPORTANT: ensure this name is unique and does not match your other application container name
  simplest-sync:
    src: './shared/webroot'
    sync_excludes: ['.idea','.git','downloader', 'var']
    sync_userid: '1000'
    sync_strategy: 'unison'
